      <!-- Firebase SDK (Software Development Kit) siempre se debe usar y debe ser el primero de colocar -->
      <script src="https://www.gstatic.com/firebasejs/9.1.1/firebase-app-compat.js"></script>


      <!-- Adicionar productos de Firebase que vamos a usar -->
      <script src="https://www.gstatic.com/firebasejs/9.1.1/firebase-auth-compat.js"></script>
      <script src="https://www.gstatic.com/firebasejs/9.1.1/firebase-firestore-compat.js"></script>

      <!-- UUID -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuid.min.js"
              integrity="sha512-UNM1njAgOFUa74Z0bADwAq8gbTcqZC8Ej4xPSzpnh0l6KMevwvkBvbldF9uR++qKeJ+MOZHRjV1HZjoRvjDfNQ=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer">
      </script>

  <script src="./js/all.js"></script>
  </body>
</html>
