<div id="menu" class="menu col-3 menu-animations-outside">
  <button id="btn-drop-menu" class="drop-menu">
    <img src="../img/up-arrow-angle.png" alt="" width="50">
  </button>
  <div class="row text-start justify-content-center">
    <div class="col-12" style="height: 50%;">
      <h2>Ventas</h2>
      <ul>
        <a href="ventasRealizadas.html"><li>Ventas Realizadas</li></a>
        <a href="registrar_venta.html"><li>Registrar Ventas</li></a>
      </ul>
    </div>
    <div class="col-12" style="height: 50%;">
      <h2>Productos</h2>
      <ul>
        <a href="listarproductos.html"><li>Productos</li></a>
        <a href="productoRegistrar.html"><li>Registrar Productos</li></a>
      </ul>
    </div>
    <div class="col-12" style="height: 50%;">
      <h2>Usuarios</h2>
      <ul>
        <a href="usuarios.html"><li>Lista de Usuarios</li></a>
      </ul>
    </div>
  </div>
</div>